
.main-container{
    background-color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0px;

    min-height: 80vh;
    
}
.signupButton{
    border: 0px;
    background-color: transparent;
    color: #050EBF ;
    font-weight: 600;
    font-size: 17px;
}
